<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>人才招聘系统</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body onload="start_timer()"  class="bg-light">
  <div class="position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
    <div>
      <h1 class="text-center">{{message}}</h1>
      <label id="lab"></label>
    </div>
  </div>
  <script>
    function countdown(seconds){
      var i = seconds;
      var timer = null;
      const lab = document.getElementById("lab");

      const change = () => {
        i--;
        lab.innerText = "将在 " + i + " 秒后{{action if destination else '返回主页'}}...";
        if (i <= 0) {
          window.clearInterval(timer);
          window.location.href = "{{ destination if destination else '/' }}";
        }
      }
      change();
      timer = window.setInterval(change, 1000);
    }

    countdown(Number("{{count}}"));
  </script>
</body>

</html>